{% extends 'layout.html' %}

{% block title %}
    Details
{% endblock %}

{% block content %}
<div class="results-container">
    <h2 class="results-header">Результаты расчета для «{{ calculation.organisation.name }}»</h2>
    
   <div class="results-org-info">
        <p>
            ИНН: {{ calculation.organisation.INN }}<br>
            КПП: {{ calculation.organisation.KPP }}<br>
            ОГРН: {{ calculation.organisation.OGRN }}<br>
            Юр. Адрес: {{ calculation.organisation.address }}<br>
        </p>
    </div>

    <div class="results-table-wrapper first-table-wrapper">
        <h3 class="results-subheader">Сведения об опасностях и уровни риска аварии</h3>
        <table class="results-table">
            <thead>
                <tr>
                    <th>Факторы, влияющие на опасность</th>
                    <th>Обозначение блока факторов</th>
                    <th>Максимальный ИОА по фактору, балл</th>
                    <th>Принятый ИОА по фактору, балл</th>
                    <th>Показатель опасности аварии по фактору, %</th>
                    <th>Лингвистический уровень (категория) опасности (риска)</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.group.name }}</td>
                    <td class="results-text-center">{{ result.group.code }}</td>
                    <td class="results-text-center">{{ result.max_sum|floatformat:2 }}</td>
                    <td class="results-text-center">{{ result.before_sum|floatformat:2 }}</td>
                    <td class="results-text-center">{{ result.before_percentage|floatformat:2 }}</td>
                    <td>{{ result.before_linguistic_level }}</td>
                </tr>
                {% endfor %}
                <tr class="results-total-row">
                    <td colspan="2">Интегральный показатель опасности (риска)</td>
                    <td class="results-text-center">-</td>
                    <td class="results-text-center">-</td>
                    <td class="results-text-center">{{ total_before_percentage|floatformat:2 }}</td>
                    <td>{{ total_before_linguistic_level }}</td>
                </tr>
                <tr class="results-total-row">
                    <td colspan="2">Показатель опасности (риска) аварий на шахте</td>
                    <td class="results-text-center">-</td>
                    <td class="results-text-center">-</td>
                    <td class="results-text-center">{{ max_before_percentage|floatformat:2 }}</td>
                    <td>{{ max_before_linguistic_level }}</td>
                </tr>
                <tr class="results-footer-note">
                    <td colspan="6">
                        Согласно шестиуровневой лингвистической шкале (таблица 10 приложения №1 "Методических рекомендаций по проведению анализа опасностей и оценки риска аварий на угольных шахтах") определен: <strong>{{ max_before_linguistic_level }}</strong>
                    </td>
                </tr>
                <tr class="results-footer-note">
                    <td colspan="6">
                        Рекомендованная стратегия по дальнейшей обработке риска (в соответствии с таблицей 11 приложения №1 "Методических рекомендаций по проведению анализа опасностей и оценки риска аварий на угольных шахтах"):
                    </td>
                </tr>
                <tr class="results-total-row">
                    <td colspan="6">
                        {{ recomendations_before }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if calculation.parent %}
    <div class="results-table-wrapper print-button" id="base_report">
        <h3 class="results-subheader">Сведения об опасностях и уровни риска аварии в родительском расчете</h3>
        <table class="results-table">
            <thead>
                <tr>
                    <th>Факторы, влияющие на опасность</th>
                    <th>Обозначение блока факторов</th>
                    <th>Максимальный ИОА по фактору, балл</th>
                    <th>Принятый ИОА по фактору, балл</th>
                    <th>Показатель опасности аварии по фактору, %</th>
                    <th>Лингвистический уровень (категория) опасности (риска)</th>
                </tr>
            </thead>
            <tbody>
                {% for result in after_results %}
                <tr>
                    <td>{{ result.group.name }}</td>
                    <td class="results-text-center">{{ result.group.code }}</td>
                    <td class="results-text-center">{{ result.max_sum|floatformat:2 }}</td>
                    <td class="results-text-center">{{ result.before_sum|floatformat:2 }}</td>
                    <td class="results-text-center">{{ result.before_percentage|floatformat:2 }}</td>
                    <td>{{ result.before_linguistic_level }}</td>
                </tr>
                {% endfor %}
                <tr class="results-total-row">
                    <td colspan="2">Интегральный показатель опасности (риска)</td>
                    <td class="results-text-center">-</td>
                    <td class="results-text-center">-</td>
                    <td class="results-text-center">{{ total_after_percentage|floatformat:2 }}</td>
                    <td>{{ total_after_linguistic_level }}</td>
                </tr>
                <tr class="results-total-row">
                    <td colspan="2">Показатель опасности (риска) аварий на шахте</td>
                    <td class="results-text-center">-</td>
                    <td class="results-text-center">-</td>
                    <td class="results-text-center">{{ max_after_percentage|floatformat:2 }}</td>
                    <td>{{ max_after_linguistic_level }}</td>
                </tr>
                <tr class="results-footer-note">
                    <td colspan="6">
                        Согласно шестиуровневой лингвистической шкале (таблица 10 приложения №1 "Методических рекомендаций по проведению анализа опасностей и оценки риска аварий на угольных шахтах") определен: <strong>{{ max_before_linguistic_level }}</strong>
                    </td>
                </tr>
                <tr class="results-footer-note">
                    <td colspan="6">
                        Рекомендованная стратегия по дальнейшей обработке риска (в соответствии с таблицей 11 приложения №1 "Методических рекомендаций по проведению анализа опасностей и оценки риска аварий на угольных шахтах"):
                    </td>
                </tr>
                <tr class="results-total-row">
                    <td colspan="6">
                        {{ recomendations_before }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="results-table-wrapper print-button" id="compare_reports">
        <h3 class="results-subheader">Сравнительная характеристика опасностей и уровня риска аварий до и после применения компенсирующих мероприятий</h3>
        <table class="results-table">
            <thead>
                <tr>
                    <th>Факторы, влияющие на опасность</th>
                    <th>Обозначение блока факторов</th>
                    <th>Показатель опасности аварии по фактору, %, с учетом компенсирующих мероприятий</th>
                    <th>Лингвистический уровень опасности</th>
                    <th>Оценка (разница)</th>
                    <th>Выводы</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.group.name }}</td>
                    <td>{{ result.group.code }}</td>
                    <td class="results-text-center">{{ result.before_percentage|floatformat:2 }}</td>
                    <td>{{ result.before_linguistic_level }}</td>
                    <td class="results-text-center">{{ result.difference|floatformat:2 }}</td>
                    <td class="
                        {% if result.conclusion == 'Уровень риска уменьшился, уровень безопасности увеличился' %}results-conclusion-positive
                        {% elif result.conclusion == 'Уровень риска увеличился, уровень безопасности снизился' %}results-conclusion-negative
                        {% else %}results-conclusion-neutral
                        {% endif %}
                    ">{{ result.conclusion }}</td>
                </tr>
                {% endfor %}
                <tr class="results-total-row">
                    <td colspan="2">Интегральный показатель опасности (риска)</td>
                    <td class="results-text-center">{{ total_before_percentage|floatformat:2 }}</td>
                    <td>{{ total_before_linguistic_level }}</td>
                    <td class="results-text-center">{{ total_difference|floatformat:2 }}</td>
                    <td>{{ total_conclusion }}</td>
                </tr>
                <tr class="results-total-row">
                    <td colspan="2">Показатель опасности (риска) аварий на шахте</td>
                    <td class="results-text-center">{{ max_before_percentage|floatformat:2 }}</td>
                    <td>{{ max_after_linguistic_level }}</td>
                    <td class="results-text-center">{{ max_difference|floatformat:2 }}</td>
                    <td>{{ max_conclusion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

    <div class="buttons-container">
        <form method="post" id="rx-form">
            {% csrf_token %}
            <button type="button" id="finish-btn" class="print-button btn-confirm">Удалить</button>
        </form>
        
        <div class="param-actions-centered">
            <a href="{% url 'calculations:calc_answers' pk=calculation.id %}" class="btn-prev print-button">Подробности</a>
        </div>  

        <form method="post" action="{% url 'calculations:create_related' calculation.id %}">
            {% csrf_token %}
            <button type="submit" class="print-button btn-secondary">Создать связанный перерасчёт</button>
        </form>
    </div>

    <div class="form-group print-button">
        <h3 class="results-subheader">Печать</h3>
        <label>
            <input type="checkbox" id="checkbox1" onchange="toggleClass('base_report', 'checkbox1')">
            Включить данные базового отчета в печать
        </label>
        <br>
        <label>
            <input type="checkbox" id="checkbox2" onchange="toggleClass('compare_reports', 'checkbox2')">
            Включить сравнительную таблицу в печать
        </label>
        <br>
        <button type="button" onclick="window.print()" class="print-button btn-next">Печать</button>
        <br>
    </div>

    {% if calculation.parent %}
    <h3 class="results-subheader print-button">Базовый расчет</h3>
    <div class="calc-log print-button">
        <table class="calc-table">
            <thead>
            <tr>
                {% for field, label in headers.items %}
                <th>
                    {{ label }}
                </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                <tr class="clickable-row" data-href="{% url 'calculations:calc_details' calculation.parent.id %}">
                    <td>
                        {% if calculation.parent.user.first_name or calculation.parent.user.last_name %}
                        {{ calculation.parent.user.first_name }} {{ calculation.parent.user.last_name }}
                        {% else %}
                        {{ calculation.parent.user.username }}
                        {% endif %}
                    </td>
                    <td>{{ calculation.parent.created|date:"d.m.Y H:i" }}</td>
                    <td>{{ calculation.parent.organisation.INN }}</td>
                    <td>{{ calculation.parent.organisation.name }}</td>
                    <td>
                        {% if calculation.parent.is_complete %}
                        <span class="status complete">Завершён</span>
                        {% else %}
                        <span class="status in-progress">Не завершён</span>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

    <h3 class="results-subheader print-button">Перерасчёты на основе этого расчета</h3>
    <div class="calc-log print-button">
        <table class="calc-table">
            <thead>
            <tr>
                {% for field, label in headers.items %}
                <th>
                    {{ label }}
                </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for entry in calculations %}
                    <tr class="clickable-row" data-href="{% url 'calculations:calc_details' entry.id %}">
                        <td>
                            {% if entry.user.first_name or entry.user.last_name %}
                            {{ entry.user.first_name }} {{ entry.user.last_name }}
                            {% else %}
                            {{ entry.user.username }}
                            {% endif %}
                        </td>
                        <td>{{ entry.created|date:"d.m.Y H:i" }}</td>
                        <td>{{ entry.organisation.INN }}</td>
                        <td>{{ entry.organisation.name }}</td>
                        <td>
                            {% if entry.is_complete %}
                            <span class="status complete">Завершён</span>
                            {% else %}
                            <span class="status in-progress">Не завершён</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="5" style="text-align:center;">Связанных перерасчётов не найдено</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="print-footer">
        <p>Расчет выполнил: 
            {% if calculation.user.first_name or calculation.user.last_name %}
                {{ calculation.user.first_name }} {{ calculation.user.last_name }}
            {% else %}
                {{ calculation.user.username }}
            {% endif %}
        </p>
        <p>Подпись: _____________________</p>
        <p>Дата: {{ calculation.updated|date:"d.m.Y" }}</p>
    </div>

    <div id="finish-modal" class="modal-overlay">
        <div class="modal-window">
            <h2>Подтверждение удаления</h2>
            <p>Вы уверены, что хотите удалить всю информацию о расчете? Отменить это действие невозможно</p>
            <div class="modal-actions">
                <button id="cancel-btn" class="btn-cancel">Отмена</button>
                <button id="confirm-btn" class="btn-confirm">Подтвердить</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}
